<ion-view view-title="Dashboard">
    <ion-content>
        <section class="padding game-wrapper">
            <div class="row" ng-repeat="i in [0, 1, 2]">
                <div class="col" ng-repeat="j in [0, 1, 2]" ng-click="setCell({{i*3+j}})">
                    <!-- <p>{{}}</p> -->
                    <i ng-if="cells[i*3 + j].turn == 'O'" class="icon ion-ios-circle-outline"></i>
                    <i ng-if="cells[i*3 + j].turn == 'X'" class="icon ion-ios-close-outline"></i>
                </div>
            </div>
        </section>
        <section class="game-status" ng-if="win">
            <button class="button button-full button-royal icon-left">
                <span ng-if="win == 'O'">
                    <i class="icon ion-ios-circle-outline"></i> Wins!
                </span>
                <span ng-if="win == 'X'">
                    <i class="icon ion-ios-close-outline"></i> Wins!
                </span>
                <span ng-if="win == 'tie'">
                    It's a tie.
                </span>
            </button>
            <button class="button button-clear button-full button-royal icon-left" ng-click="restartGame()">
                <i class="icon ion-ios-refresh"></i> Play Again
            </button>
        </section>
    </ion-content>
</ion-view>
